.svg {
  height: auto;
  width: 8rem;
  z-index: 10;
}

@media (min-width: 768px) {
  .svg {
    width: 12rem;
  }
}

.st0 {
  fill: #fff;
}

.st1,
.st2,
.st3 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.st2 {
  stroke-dasharray: 12.2484, 12.2484;
}

.st3 {
  stroke-dasharray: 11.7262, 11.7262;
}

.st8 {
  stroke: var(--color-brand);
  stroke-miterlimit: 10;
  fill: var(--color-brand);
}

.ballaBallaText {
  fill: var(--color-brand);
  stroke: var(--color-brand);
}
