.list {
  composes: reset-list from "../../public/styles/modules/reset-list.css";
}

.listItem {
  padding-left: 1.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .listItem {
    padding-left: 2rem;
  }
}

.listItem::before {
  color: var(--color-brand);
  content: "~";
  font-size: 1.5rem;
  font-weight: 700;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  .listItem::before {
    font-size: 1.5rem;
  }
}

.listItem + .listItem {
  margin-top: 0.25rem;
}

.item {
  font-family: var(--font-sans);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
}

.item:hover,
.item:focus {
  text-decoration: underline;
}
