.section {
  margin-top: -3rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .section {
    margin-top: -6.5rem;
  }
}

.backgroundImageContainer {
  display: none;
}

@media (min-width: 768px) {
  .backgroundImageContainer {
    display: block;
    height: 85%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.backgroundImage {
  filter: blur(0.2rem);
  height: 100%;
  object-position: top center;
  width: calc(100% + 2rem);
}

.inner {
  composes: max-width from "../../public/styles/modules/max-width.css";

  background-color: var(--color-brand);
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  color: white;
  display: grid;
  font-family: var(--font-sans);
  grid-row-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .inner {
    grid-column-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 5rem 0 4rem 0;
  }
}

@media (min-width: 768px) {
  .contentContainer {
    grid-column: 2 / span 5;
  }
}

.imageContainer {
  align-items: center;
  align-self: flex-start;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  display: grid;
  font-size: 0;
  line-height: 1;
  position: relative;
  width: 65%;
}

@media (min-width: 768px) {
  .imageContainer {
    grid-column: 8 / span 3;
    width: 100%;
  }
}

.link {
  text-decoration: none;
}

.fauxLink {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.fauxLinkStandout {
  position: relative;
  z-index: 2;
}

.tagline {
  display: block;
  font-size: 1.15rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .tagline {
    font-size: 1.35rem;
  }
}

.titleContainer {
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  color: black;
}

.link:hover .title,
.link:focus .title {
  text-decoration: underline;
}

.actionContainer {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  grid-column: 1;
  justify-content: space-between;
  margin-top: 1rem;
  padding-top: 1.5rem;
}

@media (min-width: 768px) {
  .actionContainer {
    border-top: 0;
    grid-column: 2 / span 11;
    justify-content: flex-start;
  }
}

.acionIcon {
  height: auto;
  margin-left: 1rem;
  margin-top: -0.15rem;
  position: relative;
  width: 0.95rem;
}

@media (min-width: 768px) {
  .actionIcon {
    width: 1.15rem;
  }
}
