.section {
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .section {
    margin-top: -6.5rem;
  }
}

.backgroundImageContainer {
  display: none;
}

@media (min-width: 768px) {
  .backgroundImageContainer {
    display: block;
    left: 0;
    max-height: 85%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.inner {
  composes: max-width from "../../public/styles/modules/max-width.css";

  background-color: var(--color-brand);
  color: white;
  display: grid;
  font-family: var(--font-sans);
  grid-row-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .inner {
    grid-column-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 6rem 0;
  }
}

@media (min-width: 768px) {
  .contentContainer {
    grid-column: 2 / span 5;
  }
}

.imageContainer {
  align-items: center;
  display: grid;
  position: relative;
  width: 75%;
}

@media (min-width: 768px) {
  .imageContainer {
    grid-column: 8 / span 3;
    width: 100%;
  }
}

.link {
  text-decoration: none;
}

.tagline {
  display: block;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .tagline {
    font-size: 1.35rem;
  }
}

.titleContainer {
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  color: black;
}

.link:hover .title,
.link:focus .title {
  text-decoration: underline;
}

.actionContainer {
  grid-column: 1;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .actionContainer {
    grid-column: 2 / span 11;
    margin-top: 0;
  }
}
