.header {
  margin-bottom: 2rem;
  text-align: center;

  &__logo-container {
    display: inline-block;
    margin-top: -8rem;
  }

  &__logo {
    height: 25rem;
    max-width: 100%;
    width: 25rem;
  }
}
