.p {
  font-family: var(--font-sans);
  font-size: 1.2rem;
  line-height: 1.3;
}

@media (min-width: 500px) {
  .p {
    font-size: 1.3rem;
  }
}

.p > a:hover,
.p > a:focus {
  color: var(--color-brand);
}
