.icon {
  color: currentColor;
  height: 1.5rem;
  width: auto;
}

@media (min-width: 768px) {
  .icon {
    height: 1.75rem;
  }
}

.theme--dark {
  color: var(--color-grey-light);
}

.theme--dark:hover,
.theme--dark:focus {
  color: var(--color-brand);
}

.theme--light {
  color: var(--color-brand-light);
}

.theme--light:hover,
.theme--light:focus {
  color: white;
}

.theme--brand {
  color: var(--color-brand);
}

.theme--brand:hover,
.theme--brand:focus {
  color: black;
}
