.footer {
  background-color: var(--color-grey-light);
  display: flex;
  justify-content: center;
  width: 100%;
}

.withMarginTop {
  margin-top: 4rem;
}

.withPlayer {
  padding-bottom: 6rem;
}

.nav {
  composes: max-width from "../../public/styles/modules/max-width.css";

  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.item {
  font-family: var(--font-sans);
  font-size: 1.25rem;
  text-decoration: none;
}

.item:hover,
.item:focus {
  text-decoration: underline;
}
