.player {
  background-color: white;
  border-top: 0.2rem solid var(--color-brand);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.inner {
  composes: max-width from "../../public/styles/modules/max-width.css";

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.iframe {
  display: none;
}

.title {
  color: black;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-size: 1.15rem;
  grid-column: 2 / span 3;
  justify-content: center;
  line-height: 1;
}

.tagline {
  color: var(--color-brand);
  display: block;
  font-size: 1rem;
}

.controlButtonContainer {
  align-items: center;
  display: flex;
  grid-column: 5 / span 1;
}

.controlButton {
  background: transparent;
  border: 0;
  color: var(--color-brand);
  outline: 0;
  padding: 0;
}

.controlButton:hover,
.controlButton:focus {
  color: black;
  cursor: pointer;
}

.controlButtonIcon {
  height: 2.5rem;
  width: 2.5rem;
}

.sliderContainer {
  align-items: center;
  display: flex;
  grid-column: 6 / span 5;
}

.sliderInner {
  width: 100%;
}

.sliderContainer [data-reach-slider-range],
.sliderContainer [data-reach-slider-handle] {
  background-color: var(--color-brand);
}

.lengthContainer {
  align-items: center;
  display: flex;
  font-family: var(--font-sans);
  font-weight: 700;
  grid-column: 11 / span 2;
  white-space: nowrap;
}

.close {
  background: var(--color-brand);
  border: 0;
  color: white;
  line-height: 1;
  padding: 0.15rem;
  position: absolute;
  right: 0;
  top: 0;
}

.close:hover,
.close:focus {
  background-color: black;
  cursor: pointer;
}

.closeIcon {
  height: 1.15rem;
  width: 1.15rem;
}
