.player {
  background-color: white;
  border-top: 0.2rem solid var(--color-brand);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.player::before {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15));
  bottom: 100%;
  content: "";
  height: 0.5rem;
  position: absolute;
  width: 100%;
}

.inner {
  composes: max-width from "../../public/styles/modules/max-width.css";

  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.iframe {
  display: none;
}

.title {
  color: black;
  display: none;
  flex-direction: column;
  font-family: var(--font-sans);
  font-size: 1.15rem;
  grid-column: 2 / span 3;
  justify-content: center;
  line-height: 1;
}

@media (min-width: 768px) {
  .title {
    display: flex;
  }
}

.tagline {
  color: var(--color-brand);
  display: block;
  font-size: 1rem;
}

.controlButtonContainer,
.spinnerContainer {
  align-items: center;
  display: flex;
  grid-column: 2 / span 1;
  justify-content: center;
}

@media (min-width: 768px) {
  .controlButtonContainer,
  .spinnerContainer {
    grid-column: 5 / span 1;
  }
}

.controlButton {
  background: transparent;
  border: 0;
  color: black;
  outline: 0;
  padding: 0;
}

.controlButton:hover,
.controlButton:focus {
  color: var(--color-brand);
  cursor: pointer;
}

.controlButtonIcon {
  height: 2.5rem;
  width: 2.5rem;
}

@media (min-width: 768px) {
  .controlButtonIcon {
    height: 2.75rem;
    width: 2.75rem;
  }
}

.sliderContainer {
  align-items: center;
  display: flex;
  grid-column: 3 / span 7;
}

@media (min-width: 768px) {
  .sliderContainer {
    grid-column: 6 / span 5;
  }
}

.sliderInner {
  width: 100%;
}

.sliderContainer [data-reach-slider-range],
.sliderContainer [data-reach-slider-handle] {
  background-color: var(--color-brand);
}

.sliderContainer [data-reach-slider-handle]:hover,
.sliderContainer [data-reach-slider-handle]:focus {
  background-color: black;
  cursor: pointer;
}

.sliderContainer [data-reach-slider-track] {
  background-color: var(--color-grey-light);
}

.lengthContainer {
  align-items: center;
  display: none;
  font-family: var(--font-sans);
  font-size: 0.9rem;
  font-weight: 700;
  grid-column: 11 / span 1;
  letter-spacing: 0.035rem;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .lengthContainer {
    display: flex;
  }
}

.close {
  background: var(--color-brand);
  border: 0;
  color: white;
  line-height: 1;
  padding: 0.15rem;
  position: absolute;
  right: 0;
  top: 0;
}

.close:hover,
.close:focus {
  background-color: black;
  cursor: pointer;
}

.closeIcon {
  height: 1.15rem;
  width: 1.15rem;
}
