.authors {
  background-color: var(--color-brand);
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  width: 100%;
}

.inner {
  composes: max-width from "../../public/styles/modules/max-width.css";

  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(2, 1fr);
}
