.authors {
  background-color: var(--color-brand);
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: 100%;
}

@media (min-width: 768px) {
  .authors {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.inner {
  composes: max-width from "../../public/styles/modules/max-width.css";

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .inner {
    grid-gap: 8rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
